cxf-examples/cxf-http-server-client-payload-format/cxf-soap-http-client/src/main/resources/wsdl/person.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://model.soap.cxf.mycompany.com/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                  name="PersonService" targetNamespace="http://model.soap.cxf.mycompany.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                           xmlns:tns="http://model.soap.cxf.mycompany.com/"
                           attributeFormDefault="unqualified" elementFormDefault="unqualified"
                           targetNamespace="http://model.soap.cxf.mycompany.com/">
            
            <xs:element name="deletePerson" type="tns:deletePerson" />
            <xs:element name="deletePersonResponse" type="tns:deletePersonResponse" />
            <xs:element name="getPerson" type="tns:getPerson" />
            <xs:element name="getPersonResponse" type="tns:getPersonResponse" />
            <xs:element name="putPerson" type="tns:putPerson" />
            <xs:element name="putPersonResponse" type="tns:putPersonResponse" />
            <xs:element name="caller" type="tns:caller" />
			
            <xs:complexType name="caller">
                <xs:sequence>
                    <xs:element minOccurs="0" name="firstname" type="xs:string" />
                    <xs:element minOccurs="0" name="lastname" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
			
            <xs:complexType name="deletePerson">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            
            <xs:complexType name="deletePersonResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:person" />
                </xs:sequence>
            </xs:complexType>
            
            <xs:complexType name="person">
                <xs:sequence>
                    <xs:element name="age" type="xs:int" />
                    <xs:element minOccurs="0" name="id" type="xs:string" />
                    <xs:element minOccurs="0" name="name" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            
            <xs:complexType name="getPerson">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            
            <xs:complexType name="getPersonResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:person" />
                </xs:sequence>
            </xs:complexType>
            
            <xs:complexType name="putPerson">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:person" />
                </xs:sequence>
            </xs:complexType>
            
            <xs:complexType name="putPersonResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:person" />
                </xs:sequence>
            </xs:complexType>
            
            <xs:element name="PersonException" type="tns:PersonException" />
            <xs:complexType name="PersonException">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                                                    name="classContext" type="xs:string" />
                    <xs:element minOccurs="0" name="personid" type="xs:string" />
                    <xs:element minOccurs="0" name="message" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            
        </xs:schema>
        
    </wsdl:types>
    
    <wsdl:message name="PersonException">
        <wsdl:part element="tns:PersonException" name="PersonException"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="deletePerson">
        <wsdl:part element="tns:deletePerson" name="parameters"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="getPerson">
        <wsdl:part element="tns:getPerson" name="parameters"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="putPerson">
        <wsdl:part element="tns:putPerson" name="parameters"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="deletePersonResponse">
        <wsdl:part element="tns:deletePersonResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="putPersonResponse">
        <wsdl:part element="tns:putPersonResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="getPersonResponse">
        <wsdl:part element="tns:getPersonResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    
    <wsdl:portType name="PersonService">
        
        <wsdl:operation name="deletePerson">
            <wsdl:input message="tns:deletePerson" name="deletePerson"></wsdl:input>
            <wsdl:output message="tns:deletePersonResponse" name="deletePersonResponse"></wsdl:output>
            <wsdl:fault message="tns:PersonException" name="PersonException"></wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="getPerson">
            <wsdl:input message="tns:getPerson" name="getPerson"></wsdl:input>
            <wsdl:output message="tns:getPersonResponse" name="getPersonResponse"></wsdl:output>
            <wsdl:fault message="tns:PersonException" name="PersonException"></wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="putPerson">
            <wsdl:input message="tns:putPerson" name="putPerson"></wsdl:input>
            <wsdl:output message="tns:putPersonResponse" name="putPersonResponse"></wsdl:output>
        </wsdl:operation>
        
    </wsdl:portType>
    
    <wsdl:binding name="PersonServiceSoapBinding" type="tns:PersonService">
        <soap:binding style="document"
                              transport="http://schemas.xmlsoap.org/soap/http" />
        
        <wsdl:operation name="deletePerson">
            
            <soap:operation soapAction="" style="document" />
            
            <wsdl:input name="deletePerson">
                <soap:body use="literal" />
            </wsdl:input>
            
            <wsdl:output name="deletePersonResponse">
                <soap:body use="literal" />
            </wsdl:output>
            
            <wsdl:fault name="PersonException">
                <soap:fault name="PersonException" use="literal" />
            </wsdl:fault>
            
        </wsdl:operation>
        
        <wsdl:operation name="getPerson">
            
            <soap:operation soapAction="" style="document" />
            
            <wsdl:input name="getPerson">
                <soap:body use="literal" />
            </wsdl:input>
            
            <wsdl:output name="getPersonResponse">
                <soap:body use="literal" />
            </wsdl:output>
            
            <wsdl:fault name="PersonException">
                <soap:fault name="PersonException" use="literal" />
            </wsdl:fault>
            
        </wsdl:operation>
        
        <wsdl:operation name="putPerson">
            <soap:operation soapAction="" style="document" />
            
            <wsdl:input name="putPerson">
                <soap:body use="literal" />
            </wsdl:input>
            
            <wsdl:output name="putPersonResponse">
                <soap:body use="literal" />
            </wsdl:output>
            
        </wsdl:operation>
        
    </wsdl:binding>
    
    <wsdl:service name="PersonService">
        
        <wsdl:port binding="tns:PersonServiceSoapBinding" name="PersonServicePort">
            <soap:address location="http://localhost:9006/soap/personService" />
        </wsdl:port>
        
    </wsdl:service>
    
</wsdl:definitions>